<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Roam</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://use.fontawesome.com/aa5ba8f49d.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
     <ul var current_user - <%= user, %>
     </ul>

</head>
<body>
  <div>
    <%- include('partials/navbar', {loggedIn: true}) %>
  </div>
  <div class="video-container">
    <video width="2150px" src="https://d1235ca2z646oc.cloudfront.net/videos/processed/14/Arc_De_Triomphe.mp4.mp4"  autoplay loop>
    </video>
  </div>
  <div class="row section blogs">
    <%- include('partials/feature_blogs') %>
  </div>

  <div class="row section">
    <%- include('partials/about') %>
  </div>
  <div class="row">
    <%- include('partials/footer') %>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Log In With Github</h4>
      <div class="row">
      <a href="/login" class="waves-effect waves-light btn"><i class="fa fa-github" aria-hidden="true"></i>SIGN IN USING GITHUB</a>
      </div>
    </div>
  </div>





  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script type="text/javascript" src="../scripts/app.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>
